<div class="feed-container">
  <div class="articles-grid">
    <div class="article-card" *ngFor="let topic of topics">
      <h3 class="article-title">{{ topic.name }}</h3>

      <p class="article-description">
        {{ topic.description }}
      </p>
      <button
        class="{{
          topic.isSubscribed ? 'already-subscribed-btn' : 'subscribe-btn'
        }}"
        (click)="subscribe(topic.id)"
        [disabled]="topic.isSubscribed"
      >
        {{ topic.isSubscribed ? "Déjà abonné" : "S'abonner" }}
      </button>
    </div>
  </div>
</div>
