.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-center {
  display: flex;
  gap: 40px;
}

.register-button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid black;
}
